.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card-content-list-item.check {
  font-weight: 600;
}

.card-footer {
  padding: 1.6rem 2.2rem;
  border-top: 1px solid var(--gray-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
}

.card-footer-price {
  font-weight: 600;
  color: var(--black);
  font-size: 2.2rem;
}

.card-footer-button {
  max-width: 15rem;
  font-size: 1.4rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
}

.footer-total {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--black);
}

.footer-button {
  max-width: 18rem;
}
